.label, textarea {
    width: 100%;
    height: 100px;
}

.radioInput {
    display: none;
}

.radioInput + label {
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
}

.radioInput + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
  }

  .radioInput:checked + label{
    color: #009a9a;
  }

  .radioInput:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: #009a9a;
    border-radius: 50%;
  }

h4 {
    margin: 0;
}

#image {
    border: #000 solid 1px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
}

.form-check-parts {

}

.checkSection {
    width: 600px;
    height: 500px;
    overflow: auto;
    font-size: 15px;
    padding: 20px
}

.overFlowAuto {
    overflow: auto;
}

.titleAndJudgementSpace {
    margin: 0 10px;
    flex-grow: 2;
}


.textAlignCenter {
    text-align: center;
}

.displaySpaceAround {
    display: flex;
    justify-content: space-around;
}

.checkImage {
    width: 250px;
    height: 250px;
}

.widthFull {
    width: 100%;
}

.itemTitle {
    margin-bottom: 10px;
}

.borderBottom {
    border-bottom: #000 solid 1px;
}

.displayFlex {
    display: flex;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexSpaceAround {
    display: flex;
    justify-content: space-around;
}

.checkLists {
    border: solid 2px rgb(189, 0, 0);
}

.checkList {
    display: flex;
    align-items: center;
    padding: 5px;
}

.form-check-parts {
    width: 80%;
}

.form-check-parts:hover {
    cursor: pointer;
}

.container {
    padding: 20px;
}